
.container{
    width: 40%;    
    margin-top: 100px;
    border: solid 2px rebeccapurple;
    padding: 20px;
    background-color: rgb(4, 41, 71);
    border-radius: 20px;

}
label , h1 {
    color: white;
}
.btn{
    width: 55%;
    font-size: 20px;
    margin-top: 20%;
    background-color: rgb(168, 108, 120);
    margin-left: 20px;
}
.btnc{
    width: 30%;
    font-size: 20px;
    margin-top: 20%;
    background-color: cadetblue;
}
input{
    background-color: black;
    color: blanchedalmond;
    font-size: 20px;
}
label{
    font-size: 20px;
}
.igual{
    width: 100%;
    margin-top: 5px;
}
.botones{
    
    justify-content: center;
}
.resu{
    color: white;
    background-color: black;
    border: none;
    border-radius: 10px;
    font-size: 50px;
}
h1{
    color: darkgoldenrod;
}